# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# IDE & System
.idea/
.vscode/
*.iml

# Firebase & Android Keys
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase_options.dart
.env
*.keystore
*.jks

# macOS & Windows
.DS_Store
Thumbs.db
